{% extends 'base.html.twig' %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category_slug }}</li>
        </ol>
        <div class="jumbotron">
            <h1 class="display-4">{{ category_slug }}</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <h2>{{ product_slug }}</h2>
        </div>
    </nav>
    <div class="container">
        <div class="text">
            {% for value in db_product %}
            <h2>{{ value.text }}</h2>
            {% endfor %}
        </div>
    </div>


{% endblock %}
